#pbepbe/sto-3g 

Sheet separation: {{{SS}}}; Pillar separation: {{{PSX}}}, {{{PSY}}}

{{#atoms}}
{{{symbol}}} {{{x}}} {{{y}}} {{{z}}}
{{/atoms}}
{{#lattice}}
Tv {{{x}}} {{{y}}} {{{z}}}
{{/lattice}}


