# 
# Keywords:
# 
montecarlo molecule  
# 
# Options:
# 
name hydrogen                                                                   

vectors
{{#lattice}}
{{{x}}} {{{y}}} {{{z}}}
{{/lattice}}
0 0 0 0 0 0

cartesian 
{{#atoms}}
{{{symbol}}} core {{{x}}} {{{y}}} {{{z}}} 0.0 1.0 0.0 0 0 0
{{/atoms}}

morse inter
 C1 core H99 core 0.0250067830  1.3664035057  2.8972148753 0.0 0.0 10.0
morse inter
 C2 core H99 core 0.0124718642  1.6263295776  2.9409540853 0.0 0.0 10.0
morse inter
 C3 core H99 core 0.0006254171  1.6071705655  3.8418081459 0.0 0.0 10.0
morse inter     
H99 core H99 core .78706000E-03 1.5000 3.56980  0.0  0.0 10.000


species   3
C      core    0.000000                  
H      core    0.000000                  
element
mass     H     1.00800
covalent H     0.36925
covalent C     0.01000
end

mccreation           0.25000000
mcdestruction        0.25000000
mcmove               0.25000000
mcrotation    0.25000000 centre
mctrials               5000000
mcoutfrequency           10000
dump every 10000 cart cont.grs                                                    
mcsample 10000 cont.gmc                                                    

mcchemicalpotential   {{{chem_potential}}}
temperature   {{{temperature}}}

gcmcmolecule      2
H99    core      0.00000      0.00000      0.00000
H99    core      0.00000      0.00000      0.73850

